  .form-group{
    color: var(--DARK_ORANGE);
    font-size: 1.2rem;
    margin: 10px;
  }

  .welcomecontainer{
    margin-top: 15rem;
  }
  
  .searchresource{
    border: 8px double var(--DARK);
    border-radius: 10px;
    margin-top: 15rem;
    padding-top: 10px;
    background-color: var(--OFF_WHITE);
    color: var(--DARK_ORANGE);
    font-family: 'Crushed', cursive;
  }

  .searchposts{
    border: 8px double var(--DARK);
    border-radius: 10px;
    margin-top: 25px;
    background-color: var(--OFF_WHITE);
    color: var(--DARK_ORANGE);
    width: 100%;
    font-family: 'Crushed', cursive;
  }

  .searchButton{
    background-color: var(--DARK_ORANGE);
    border-color: var(--DARK_ORANGE);
    font-weight: 600;
  }

  .searchButton:hover{
    background-color: var(--TEAL);
    border-color: var(--TEAL);
  }

  .btn-primary:not(:disabled):not(.disabled):active:focus{
    background-color: var(--TEAL);
    border-color: var(--TEAL);
  }

  .btn-primary:not(:disabled):not(.disabled):active{
    background-color: var(--TEAL);
    border-color: var(--TEAL);
  }

  .btn-primary:focus{
    background-color: var(--TEAL);
    border-color: var(--TEAL);
    box-shadow: 0 0 0 0.2rem rgba(75, 81, 88, 0.5);
  }

  .jumbotron{
    margin-bottom: 0px;
  }

  /* .searchButton:after{
    background-color: var(--DARK);
    border-color: var(--ORANGE);
  } */

  

